head
  title
    flowBox

body
  +flowBox

template(name="flowBox")
  .flow-container
    each flows
      h1.flowTitle(contentEditable="true")
        |!{title}
      ul
        +flow(this)
      
template(name="flow")
  li
    div.flowTitle(contentEditable="true")
      |!{title}
    if val
      .flowBox(contentEditable="true")
        |!{val}
  if children
    li
      ul
        each children
            +flow(this)
