head
  title
    flowBox

body
  +flowBox

template(name="flowBox")
  button.btn.newFlow +
  each flows
    h1.flowTitle(contentEditable="true")
      |!{title}
    .flowBox(contentEditable="true")
      |!{val}
