head
  title
    flowBox

body
  +flowBox

template(name="flowBox")
  button.btn.newFlow +
  each flows
    h1.flowTitle(contentEditable="true")
      |!{title}
    +flow(this)
      
template(name="flow")
  div.flowBox(contentEditable="true")
    |!{val}
  button.btn.subFlow +
  ul
    each children
      li
        +flow(this)
  |#{_id}
