@import '{reywood:bootstrap3-sass}/bootstrap'

*
  box-sizing: border-box
body
  margin: 0
  padding: 1rem
.flow-container
  border: 1px solid gray
  padding: 1rem
  li
    display: flex
    align-items: baseline
    margin-top: 0.2rem
    ul
      margin-top: 0.5rem
.flow-bullet
  float: left
  margin-right: 0.5rem
  position: relative
  top: 3px
  &:hover
    cursor: pointer

.flowTitle
  min-width: 100px
  font-weight: bold
  margin-right: 1rem
  outline: 0
.flowBox
  outline: 0
